.main-container-section4{
    height: 450px;
    background: black; /* Replace with your image path */
    color: white; /* Ensures text is readable over the image */
    text-align: center;
    padding: 20px;
  }