.navbar {
    background-color: #333;
}

.navbar-brand img {
    height: 47px;
    width: 140px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ddd !important;
}

.btn-outline-light {
    color: #fff;
    border-color: #fff;
}

.btn-outline-light:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}